*.d
*.dwo

*.slo
*.lo
*.o
*.obj

*.gch
*.pch

*.ilk
*.pdb
*.idb

*.so
*.dylib
*.dll
*.so.*

*.lai
*.la
*.a
*.lib

*.mod
*.smod

*.exe
*.out
*.app
*.aps
*.rc

[Bb]uild/
build-*/
[Dd]ebug/
[Rr]elease/
x64/
x86/

Testing/
vcpkg_installed/

*.tlog
*.lastbuildstate
*.recipe
*.obj
*.ilk
*.pdb
*.log

.idea/

.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

.vs/

*.suo
*.user
*.userosscache
*.sln.docstates

.vs/
*.user
*.suo
*.sln
*.vcxproj
*.filters

*.swp
*~
.DS_Store


*.tmp
*.log
*.bak
.cache/
